body {
	background-color: #dae3e5;
}
h1{
	color: rgb(255,255,255);
	text-align: center;
}
h2 {
	color: #576ca8;
}
h3 {
	color: #576ca8;
}
a {
	color: #576ca8;
	text-decoration: none;
}
a:hover {
	color: #576ca8;
	text-decoration: underline;
}
#header {
	font-size: 36px;
	background-color: #334063;
	height: 60px;
	text-align: center;
}

#header p {
	color: rgb(255,255,255);
}

#bar {
	background-color: #576ca8;
	height: 49px;
}

.button_bar {
  background-color: #576ca8;
  border: none;
  color: white;
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button_bar:hover {
	background-color: #334063;
	border: none;
	color: white;
	padding: 13px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.section {
	background-color: 
}

.sports {
	text-align: left;
	padding: 38px 0px;

}

.sport_pic {
	height: 250px;
	border-radius: 3px;
}

.button_sports {
  background-color: #576ca8;
  border: none;
  color: white;
  padding: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
	border-radius: 3px;
}
.button_sports:hover {
	background-color: #334063;
	border: none;
	color: white;
	padding: 3px 3px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	border-radius: 3px;
}


#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 25px;
	background-color: #334063;
	padding: 3px 0px;	
}

#footer a {
	color: rgb(200,200,200);
}

#footer a:hover {
  color: rgb(255,255,255);
}
